.project-container {
    grid-column: 2;
    grid-row: 2;

    width: 100%;
}

.project-container header {
    display: flex;
}

header h2 { 
    display: inline;
}

header select {
    display: inline;
}