.new-project {
    grid-column: 2;
    grid-row: 2;

    width: 100%;
}

.new-project__textarea {
    margin: 0.3125rem 0.625rem 0.625rem 0rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-dark);
    padding: 0.625rem;
    font-size: 0.75rem;
}

.new-project__fields {
    display: flex;
    flex-direction: column;
    
    gap: 0.625rem;
}