.description {
    display: grid;
    grid-template-rows: 7% 20% 20% 53%;
    grid-template-columns: 1;
    height: 100%;
    width: 100%;
}

.description__title {
    grid-row: 1;

}

.description__text {
    margin: 2.5rem;
}