.tasks__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
}

.tasks__title {
    margin: 0;
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--text);
}

.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    height: 100%;
    width: 100%;
}