.new-task-card {
    display: grid;
    grid-template-columns: 20% 80%;
}

.new-task-card__title {
    grid-column: 1;
}

.new-task-card__fields {
    display:flex;
    grid-column: 2;

    flex-direction: column;
}