.bar {
    width: 7.5rem;
    height: 100%;
    background-color: var(--surface);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-right: 0.125rem solid var(--border-dark)
}

.bar__avatar {
    width: 30%;
    margin: 0.625rem;
    
    justify-self: left;

    border-radius: 3.125rem;
}

.bar__new-project {
    margin: 0.3125rem;
    font-size: 0.75rem;

    border: none;
    padding: 0.3125rem 0.5rem;

    box-shadow: 0 0 0.625rem #0001;
}